*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
#c {
  width: 100%;  /* let our container decide our size */
  height: 100%;
  display: block;
}
#container {
  position: relative;  /* makes this the origin of its children */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  background: url("/img/background/solarsystem.webp") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#options {
  position: absolute;
  left: 20%;
  top: 40%;
  width: 100%;
  height: 100%;
  margin: 20;
  padding: 20;

}
.option {
  font-size: x-large;
  line-height: 300%;
  font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: lightblue;
  text-decoration: none;
  display: block;
}

/* selected link */
a:active {
  color: lightblue;
  text-decoration: none;
}

/*  || COMMON ELEMENTS
p
h1, h2, h3, h4, h5
ul and ol
The table properties
Links
*/
