#d3-mindmap {
    background-color: rgba(0, 0, 0, 0.8); 
    width: 100%; 
    height: 100%;
}

#d3-mindmap text {
    user-select: none; /* Disable text selection */
    pointer-events: none; /* Prevent any interaction with the text */
  }
