/* PARENT STYLES */
#slides {
    z-index: 1;
    display: none;
  }
#slideContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
#slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.1s ease-in-out 200ms;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  #slide.fade-out {
    transition: opacity 0.3s;
    opacity: 0;
  }
.old-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.1s ease-in-out 200ms;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

/* ELEMENT STYLES */
.blur { /* set to the image element */ 
  filter: blur(10px);
}
#blurry-background { /* set to the panel-container element */ 
  background: none;
}
#blurred-background { /* set to the image element */ 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* WHOLE SLIDE STYLES */
#fullscreenImageSlide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.75);
}
#fullscreenIframeSlide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-color: rgba(0, 0, 0, 0.75);
}

.fullscreenTextSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
    color: white;
    text-align: center;
    background-image: url("/Planet/assets/images/background/bagan.webp");
    background-size: cover;
}
.quote, .instructions {
    font-size: 2vw;
}
.quote {
    line-height: 3vw;
}
.instructions {
    line-height: 4vw;
}
.quote.long {
    font-size: 1.5vw;
    line-height: 2.5vw;
    padding: 10%;
}
.quote.alignJustify, .definition {
    text-align: justify;
}
.poem {
    padding: 5%;
    font-size: 1vw;
    line-height: 1.25vw;
}
.definition {
    font-size: 1.5vw;
    line-height: 1.5vw;
}

#wordcloud {
  width: 100%;
  height: 100%;
}

.backgroundVignette {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  color: white;
  text-align: center; */
  background-color: black;
  background-image: none;
  background-size: cover;
  background-position: top;
}
.backgroundVignette::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at center, transparent, black);
  opacity: 0.9;
  z-index: 1;
}
.textInFront {
  width: 100%;
  height: 100%;
  z-index: 5;
}


/* TEMPLATE DESIGNS */
/* MULTI PANEL DESIGNS */
.panel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    background-image: url("/Planet/assets/images/background/bagan.webp");
    background-size: cover;
    user-select: none;
}

.title-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    /* border: 2px solid blue; */
}
.content-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}
.side-container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    /* border: 2px solid blue; */
}
.side-container > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.bottom-container{
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* border: 2px solid blue; */

}
.bottom-short-container{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* border: 2px solid blue; */
}

/* NEW - BACKGROUND FADING IMAGE */
.background-fade {
    background: linear-gradient(
          to right, 
          rgba(0, 0, 0, 0.9), 
          rgba(0, 0, 0, 0.8) 40%, 
          rgba(0, 0, 0, 0.7) 60%, 
          rgba(0, 0, 0, 0.5) 80%, 
          rgba(0, 0, 0, 0)
      );
  }
  .background-fade.right {
    background: linear-gradient(
          to left, 
          rgba(0, 0, 0, 0.9), 
          rgba(0, 0, 0, 0.8) 40%, 
          rgba(0, 0, 0, 0.7) 60%, 
          rgba(0, 0, 0, 0.5) 80%, 
          rgba(0, 0, 0, 0)
      );
  }
  #fading-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

/* HALF SLIDE IMAGE */
.halfSlideImage {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: left;
}
.frostedGlass {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: left;
    opacity: 1;
}
.solidBackground {
    background-color: darkolivegreen;
    background-image: none;
}

/* NEW - ANIMATIONS */
.appear {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* NEW - BULLETS */
.bullets {
  list-style-type: disc;
  padding-left: 0;  /* Remove padding to align bullet points with text */
}
.bullet {
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-bottom: 1.5em;  /* Add space between main points */
}
.bullet > ul {
  margin-top: 0.5em;  /* Add space between main point and sub-points */
  margin-bottom: 0.5em;  /* Add space between last sub-point and next main point */
}
.bullet > ul > .bullet {
  margin-bottom: 0.5em;  /* Add space between sub-points */
}
.visible {
  opacity: 1;
}
.textContent {
    opacity: 1;
}

/* NAVIGATION */
.mainButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
  z-index: 3;
}

.carousel-button::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
}

.carousel-button.left::before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #999; 
}
.carousel-button.left:hover::after, .carousel-button.left:hover::before {
  border-right: 10px solid #fff;
}

.carousel-button.right::before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #999; 
}
.carousel-button.right:hover::after, .carousel-button.right:hover::before {
  border-left: 10px solid #fff;
}

.carousel-button.up::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #999; 
}
.carousel-button.up:hover::after, .carousel-button.up:hover::before {
  border-bottom: 10px solid #fff;
}

.carousel-button.down::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #999; 
}
.carousel-button.down:hover::after, .carousel-button.down:hover::before {
  border-top: 10px solid #fff;
}
.close-button {
  position: relative;
  top: 5px;
  left: -5px;
  border: none;
  background-color: transparent;
  color: grey;
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
  z-index: 3;
}
.close-button:hover {
  color: white;
}
.close-button:focus {
  outline: none;
}

.carousel-button.exit {
  font-size: 1rem;
}

/* PAGINATION */
.dot {
  height: 7px;
  width: 7px;
  background-color: #999;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 5px;
}
.dot.active {
  background-color: white;
  opacity: 1;
}
#mainDotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#subDotContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/* FLEXBOX */
.slides-flexbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.parent {
  display: flex;
}
.child {
   display: flex;
   justify-content: center;
   align-items: center;
}
#leftPanel {
  width: 40px;
  height: 100%;
  min-width: 30px;
}
#midParent {
  flex-direction: column;
  flex: 1;
  height: 100%;
}
#topPanel {
  height: 40px;
  min-height: 30px;
  width: 100%;
}
#topFrame {
  height: 13px;
  min-height: 13px;
  width: 100%;
  background-color: black;
  justify-content: flex-start;
  border-left: 3px solid rgba(0, 0, 255, 0.15);
  border-top: 3px solid rgba(0, 0, 255, 0.15);
  border-right: 3px solid rgba(0, 0, 255, 0.15);
}
#centerParent {
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
}
#leftFrame {
  width: 13px;
  height: 100%;
  min-width: 13px;
  background-color: black;
  border-left: 3px solid rgba(0, 0, 255, 0.15);
}
#content {
  width: 100%;
  height: 100%
}
#rightFrame {
  width: 13px;
  min-width: 13px;
  height: 100%;
  background-color: black;
  border-right: 3px solid rgba(0, 0, 255, 0.15);
}
#bottomFrame {
  height: 13px;
  min-height: 13px;
  width: 100%;
  background-color: black;
  border-left: 3px solid rgba(0, 0, 255, 0.15);
  border-bottom: 3px solid rgba(0, 0, 255, 0.15);
  border-right: 3px solid rgba(0, 0, 255, 0.15);
}
#bottomPanel {
  height: 40px;
  min-height: 30px;
  width: 100%;
}
#rightPanel {
  width: 40px;
  min-width: 30px;
  height: 100%;
}



