/* PARENT STYLES */
.slides {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 1;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    display: none;
    background-color: rgba(0, 0, 255, 0.3);
  }
  #slide {
    position: absolute;
    transition: opacity 0.1s ease-in-out 200ms;
    transition-delay: 200ms;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
  }
  #old-slide {
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    top: 1%;
    left: 1%;
    width:98%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
  }

  /* WHOLE SLIDE STYLES */
  #slide > img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: contain;
  }
  #slide > iframe {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: fill;
  }

  /* TEMPLATE STYLES */
  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    line-height: 3vw;
    overflow-wrap: break-word;
    color: white;
    text-align: center;
    background-image: url("/Planet/assets/images/background/bagan.jpg");
    background-size: cover;
  }
  .quote.long {
    font-size: 1.5vw;
    line-height: 2.5vw;
    padding: 10%
  }
  .quote.alignJustify {
    text-align: justify;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    line-height: 4vw;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/Planet/assets/images/background/bagan.jpg");
    background-size: cover;
  }

  .poem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    line-height: 1.25vw;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/Planet/assets/images/background/bagan.jpg");
    background-size: cover;
  }

  .definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    line-height: 1.5vw;
    overflow-wrap: break-word;
    color: white;
    text-align: justify;
    background-image: url("/Planet/assets/images/background/bagan.jpg");
    background-size: cover;
  }

/* UNDER DEVELOPMENT */
/* BULLET SLIDE - COVER IMAGE ON LEFT/RIGHT */
#bulletSlide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: black;
    z-index: -10;
}
.bullet-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

#bullet-points {
    width: 50%;
    list-style-type: disc;
    margin-right: 5%;
}

.bullet {
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-bottom: 2%;
}

.bullet-image-container {
  position: relative;
  width: 45%;
  height: 100%;
}

#bullet-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* BULLET SLIDE - BACKGROUND FADING IMAGE */

#bulletFadeSlide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3%;
  color: #ffffff;
}

.bulletFade-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.8) 40%, 
        rgba(0, 0, 0, 0.7) 60%, 
        rgba(0, 0, 0, 0.5) 80%, 
        rgba(0, 0, 0, 0)
    );
}
.bulletFade-content.right {
  background: linear-gradient(
        to left, 
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.8) 40%, 
        rgba(0, 0, 0, 0.7) 60%, 
        rgba(0, 0, 0, 0.5) 80%, 
        rgba(0, 0, 0, 0)
    );
}

#bulletFade-points {
  width: 50%;
  list-style-type: disc;
  padding-left: 10%;
}
#bulletFade-points.right {
  width: 100%;
  padding-left: 55%;
}

#bulletFade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* NAVIGATION */
.mainButtons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5%;
  bottom: -35px;
}
.subButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 100%;
  right: -50px;
}

.carousel-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Adjust the width of the buttons */
  height: 30px; /* Adjust the height of the buttons */
  border: none;
  cursor: pointer;
  background: transparent;
  z-index: 3;
}

.carousel-button::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
}

.carousel-button.left::before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #999; /* Change the color of the left arrow */
}
.carousel-button.left:hover::after, .carousel-button.left:hover::before {
  border-right: 10px solid #fff;
}

.carousel-button.right::before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #999; /* Change the color of the right arrow */
}
.carousel-button.right:hover::after, .carousel-button.right:hover::before {
  border-left: 10px solid #fff;
}

.carousel-button.up::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #999; /* Change the color of the up arrow */
}
.carousel-button.up:hover::after, .carousel-button.up:hover::before {
  border-bottom: 10px solid #fff;
}

.carousel-button.down::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #999; /* Change the color of the down arrow */
}
.carousel-button.down:hover::after, .carousel-button.down:hover::before {
  border-top: 10px solid #fff;
}
.close-button {
  position: relative;
  border: none;
  background-color: transparent;
  color: grey;
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}
/* .close-button:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: currentColor;
  transform: rotate(45deg);
  transition: opacity 0.3s ease-in-out;
} */
/* .close-button:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: currentColor;
  transform: rotate(-45deg);
  transition: opacity 0.3s ease-in-out;
} */
.close-button:hover {
  color: white;
}
.close-button:focus {
  outline: none;
}

.carousel-button.exit {
  left: 0.1rem;
  top: 0.1rem;
  font-size: 1rem;
}

/* PAGINATION */
.dot {
  height: 7px;
  width: 7px;
  background-color: #999;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 5px;
}


.dot.active {
  background-color: white;
  opacity: 1;
}

#mainDotContainer {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#subDotContainer {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FLEXBOX */
#flexbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.parent {
  display: flex;
}
.child {
   border: 1px solid;
   border-color: blue;
}
#leftPanel {
  width: 40px;
  height: 100%;
  min-width: 30px;
}
#midParent {
  flex-direction: column;
  flex: 1;
  height: 100%;
}
#topPanel {
  height: 40px;
  min-height: 30px;
  width: 100%;
}
#topFrame {
  height: 10px;
  min-height: 10px;
  width: 100%;
}
#centerParent {
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
}
#leftFrame {
  width: 10px;
  height: 100%;
  min-width: 10px;
}
#content {
  width: 100%;
  height: 100%
}
#rightFrame {
  width: 10px;
  min-width: 10px;
  height: 100%;
}
#bottomFrame {
  height: 10px;
  min-height: 10px;
  width: 100%;
}
#bottomPanel {
  height: 40px;
  min-height: 30px;
  width: 100%;
}
#rightPanel {
  width: 40px;
  min-width: 30px;
  height: 100%;
}



