/* PARENT STYLES */
.slides {
    position: absolute;
    top: 5vh;
    left: 5vw;
    z-index: 1;
    width: 90vw;
    height: 90vh;
    display: none;
    background-color: rgba(0, 0, 255, 0.3);
  }
  /* #slideContainer {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  } */
  #slide {
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
  }
  #old-slide {
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    top: 1%;
    left: 1%;
    width:98%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
  }

  /* WHOLE SLIDE STYLES */
  #slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  #slide > iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  /* TEMPLATE STYLES */
  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    line-height: 3vw;
    overflow-wrap: break-word;
    color: white;
    text-align: center;
    background-image: url("/assets/images/background/bagan.jpg");
    background-size: cover;
  }
  .quote.long {
    font-size: 1.5vw;
    line-height: 2.5vw;
    padding: 10%
  }
  .quote.alignJustify {
    text-align: justify;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    line-height: 4vw;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/assets/images/background/bagan.jpg");
    background-size: cover;
  }

  .poem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    line-height: 1.25vw;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/assets/images/background/bagan.jpg");
    background-size: cover;
  }

  .definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    line-height: 1.5vw;
    overflow-wrap: break-word;
    color: white;
    text-align: justify;
    background-image: url("/assets/images/background/bagan.jpg");
    background-size: cover;
  }
  
  /* NAVIGATION */
  .carousel-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.4)
  }
  .carousel-button:hover,
  .carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .carousel-button:focus{
    outline: 1px solid black;
  }
  .carousel-button.left {
    top: 50%;
    transform: translateY(-50%);
    left: -3rem;
    font-size: 2rem;
  }
  .carousel-button.right {
    top: 50%;
    transform: translateY(-50%);
    right: -3rem; 
    font-size: 2rem;
  }
  .carousel-button.up {
    left: 50%;
    top: -2.5rem;
    transform: translateX(-50%);
    font-size: 2rem;
  }
  .carousel-button.down {
    left: 50%; 
    bottom: -2.5rem;
    transform: translateX(-50%);
    font-size: 2rem;
  }
  .carousel-button.exit {
    left: 0.1rem;
    top: 0.1rem;
    font-size: 1rem;
  }

/* UNDER DEVELOPMENT */
/* BULLET SLIDE - COVER IMAGE ON LEFT/RIGHT */
#bulletSlide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3%;
    background-color: black;
    z-index: -10;
}
.bullet-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

#bullet-points {
    width: 50%;
    list-style-type: disc;
    margin-right: 5%;
}

.bullet {
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-bottom: 2%;
}

.bullet-image-container {
  position: relative;
  width: 45%;
  height: 100%;
}

#bullet-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* BULLET SLIDE - BACKGROUND FADING IMAGE */

#bulletFadeSlide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3%;
  color: #ffffff;
}

.bulletFade-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.8) 40%, 
        rgba(0, 0, 0, 0.7) 60%, 
        rgba(0, 0, 0, 0.5) 80%, 
        rgba(0, 0, 0, 0)
    );
}
.bulletFade-content.right {
  background: linear-gradient(
        to left, 
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.8) 40%, 
        rgba(0, 0, 0, 0.7) 60%, 
        rgba(0, 0, 0, 0.5) 80%, 
        rgba(0, 0, 0, 0)
    );
}

#bulletFade-points {
  width: 50%;
  list-style-type: disc;
  padding-left: 10%;
}
#bulletFade-points.right {
  width: 100%;
  padding-left: 50%;
}

#bulletFade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



